.configFondo{
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.fondoLogin {
    -fx-background-image: url("file:src/main/java/com/hiq/retromaniaapiclient/images/fondo1.png");
}

.fondoJoin {
    -fx-background-image: url("file:src/main/java/com/hiq/retromaniaapiclient/images/fondo2.png");
}

.fondoClient {
    -fx-background-image: url("file:src/main/java/com/hiq/retromaniaapiclient/images/fondo3.png");
}

.myButton{
    -fx-background-color: yellow;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
}
.myButton:hover, .myButton:pressed{ /*comun para ambos*/
    -fx-background-color: yellowgreen;
}
.myButton:pressed{
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}
.check {
    
}
.putLogo{
    -fx-background-image: url("file:src/main/java/com/hiq/retromaniaapiclient/images/logo.png");
    -fx-background-position: top right;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.labelStyle {
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 2, 1, 1, 1);
}